@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
}

body{
    background-color: rgb(74, 74, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 10px;
    color: white;
    text-align: center;
    padding: 15px;
}

section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.330);
}

section > div#numero{
    margin-bottom: 8px;
}

section input#add{
    padding: 3px;
}

section select{
    width: 170px;
}

section input#fim{
    display: block;
    padding: 3px;
    margin-top: 4px;
}

section > div#finish{
    margin-top: 8px;
}

section > div#resultado > p{
    margin-bottom: 5px;
}

footer{
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: 300px;
}

footer > p > a{
    color: white;
    text-decoration: none;
    font-style: italic;
}

footer a:hover{
    font-weight: bold;
}